reward*
experiment*elite*
checkpoints
wandb
*.whl
.idea
*.txt
*.zip
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
trajs_best*
trajs_random*
.DS_Store
*.tar.gz
trajs_good_and_diverse_elite_with_measures_top500/16episodes/
trajs_good_and_diverse_elite_with_measures_top500/32episodes/
trajs_good_and_diverse_elite_with_measures_top500/4x4episodes/
trajs_good_and_diverse_elite_with_measures_top500/4x8episodes/
trajs_good_and_diverse_elite_with_measures_top500/64episodes/
trajs_good_and_diverse_elite_with_measures_topHalfMax/16episodes/
trajs_good_and_diverse_elite_with_measures_topHalfMax/32episodes/
trajs_good_and_diverse_elite_with_measures_topHalfMax/64episodes/
experiments_experts/IL_ppga_*_expert/*/heatmaps/
experiments_experts/IL_ppga_*_expert/*/checkpoints/
experiments_experts/IL_ppga_*_expert/*/logs/
