reward*
experiment*elite*
checkpoints
wandb
*.whl
.idea
*.txt
*.zip
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
trajs_best*
trajs_random*
.DS_Store
*.tar.gz
trajs_good_and_diverse_elite_with_measures_top100/
trajs_good_and_diverse_elite_with_measures_top1000/
trajs_good_and_diverse_elite_with_measures_top150/
trajs_good_and_diverse_elite_with_measures_top200/
trajs_good_and_diverse_elite_with_measures_top250/
trajs_good_and_diverse_elite_with_measures_top300/
trajs_good_and_diverse_elite_with_measures_top350/
trajs_good_and_diverse_elite_with_measures_top400/
trajs_good_and_diverse_elite_with_measures_top450/
trajs_good_and_diverse_elite_with_measures_top500/16episodes/
trajs_good_and_diverse_elite_with_measures_top500/32episodes/
trajs_good_and_diverse_elite_with_measures_top500/4episodes/trajs_ppga_halfcheetah.pt
trajs_good_and_diverse_elite_with_measures_top500/4x4episodes/
trajs_good_and_diverse_elite_with_measures_top500/4x8episodes/
trajs_good_and_diverse_elite_with_measures_top500/64episodes/
trajs_good_and_diverse_elite_with_measures_top500/8episodes/trajs_ppga_ant_last2dims.png
trajs_good_and_diverse_elite_with_measures_top600/
trajs_good_and_diverse_elite_with_measures_top700/
trajs_good_and_diverse_elite_with_measures_top800/
trajs_good_and_diverse_elite_with_measures_top900/
trajs_good_and_diverse_elite_with_measures_topHalfMax/16episodes/
trajs_good_and_diverse_elite_with_measures_topHalfMax/32episodes/
trajs_good_and_diverse_elite_with_measures_topHalfMax/64episodes/
