absl-py==1.4.0
actionlib==1.12.1
aiosignal==1.3.1
angles==1.9.12
appdirs==1.4.4
astor==0.8.1
atari-py==0.2.9
attrdict==2.0.1
attrs==23.2.0
auditwheel==5.3.0
backcall==0.2.0
-e git+https://github.com/openai/baselines.git@391811d98cfd1e4c7b5940d84a76ab7f423fa932#egg=baselines
beautifulsoup4==4.12.3
bleach==6.0.0
blessed==1.20.0
bondpy==1.8.5
camera-calibration==1.15.2
camera-calibration-parsers==1.11.13
carla==0.9.10
catkin==0.7.29
certifi==2023.11.17
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==3.0.1
click==8.1.3
cloudpickle==1.3.0
colorama==0.4.6
controller-manager==0.18.4
controller-manager-msgs==0.18.4
cv-bridge==1.13.1
cycler==0.11.0
Cython==0.29.33
dacite==1.8.0
data==0.4
decorator==5.1.1
defusedxml==0.7.1
diagnostic-analysis==1.9.7
diagnostic-common-diagnostics==1.9.7
diagnostic-updater==1.9.7
distlib==0.3.8
distro==1.8.0
docker-pycreds==0.4.0
dynamic-reconfigure==1.6.5
entrypoints==0.4
fasteners==0.18
fastjsonschema==2.19.1
filelock==3.12.2
fonttools==4.38.0
frozenlist==1.3.3
funcsigs==1.0.2
future==0.18.3
gast==0.2.2
gazebo-plugins==2.8.7
gazebo-ros==2.8.7
gencpp==0.6.6
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.17
gennodejs==2.0.1
genpy==0.6.16
gitdb==4.0.11
GitPython==3.1.41
glfw==2.5.6
glibc==0.6.1
google-pasta==0.2.0
gpustat==1.0.0
grpcio==1.51.3
gym==0.10.5
gym-microrts==0.3.0
gym-notices==0.0.8
h5py==3.8.0
hnswlib==0.8.0
identify==2.5.24
idna==3.4
image-geometry==1.13.1
imageio==2.6.1
importlib==1.0.4
importlib-metadata==6.0.0
importlib-resources==5.12.0
interactive-markers==1.11.5
ipykernel==5.5.5
ipython==7.33.0
ipython-genutils==0.2.0
jedi==0.19.1
Jinja2==3.1.3
joblib==1.2.0
joint-state-publisher==1.12.15
JPype1==1.4.1
jsonschema==4.17.3
jupyter-client==7.4.9
jupyter-core==4.12.0
jupyterlab-pygments==0.2.2
KDEpy==1.1.0
kdl-parser-py==1.13.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
laser-geometry==1.6.7
latex==0.7.0
lmdb==1.4.0
lockfile==0.12.2
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.5.3
matplotlib-inline==0.1.6
message-filters==1.14.13
mistune==3.0.2
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mock==5.0.1
mpi4py==3.0.3
msgpack==1.0.5
mujoco-py==1.50.1.68
nbclient==0.7.4
nbconvert==7.6.0
nbformat==5.8.0
nest-asyncio==1.6.0
networkx==2.6.3
nodeenv==1.8.0
numpy==1.20.0
nvidia-ml-py==11.495.46
opencv-python==4.7.0.72
opt-einsum==3.3.0
packaging==23.0
pandas==1.3.5
pandocfilters==1.5.1
parso==0.8.3
peewee==3.16.0
pexpect==4.9.0
pickle5==0.0.12
pickleshare==0.7.5
Pillow==9.4.0
pkgutil-resolve-name==1.3.10
platformdirs==4.0.0
pre-commit==2.21.0
prompt-toolkit==3.0.42
protobuf==3.20.1
psutil==5.9.4
ptyprocess==0.7.0
pyarrow==11.0.0
pybullet==3.2.5
pycparser==2.21
pyelftools==0.29
pygame==2.2.0
pyglet==1.5.0
pygments==2.17.2
PyOpenGL==3.1.7
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python-qt-binding==0.4.4
pytz==2022.7.1
PyWavelets==1.3.0
PyYAML==6.0.1
pyzmq==25.1.2
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
ray==2.7.2
requests==2.28.2
resource-retriever==1.12.7
robosuite==0.1.0
rosbag==1.14.13
rosboost-cfg==1.14.9
rosclean==1.14.9
roscreate==1.14.9
rosgraph==1.14.13
roslaunch==1.14.13
roslib==1.14.9
roslint==0.11.2
roslz4==1.14.13
rosmake==1.14.9
rosmaster==1.14.13
rosmsg==1.14.13
rosnode==1.14.13
rosparam==1.14.13
rospy==1.14.13
rosservice==1.14.13
rostest==1.14.13
rostopic==1.14.13
rosunit==1.14.9
roswtf==1.14.13
rqt-action==0.4.9
rqt-bag==0.5.1
rqt-bag-plugins==0.5.1
rqt-console==0.4.9
rqt-dep==0.4.9
rqt-graph==0.4.11
rqt-gui==0.5.3
rqt-gui-py==0.5.3
rqt-image-view==0.4.17
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.10
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.13
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.3
rqt-py-console==0.4.8
rqt-reconfigure==0.5.4
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.14
rqt-robot-steering==0.5.10
rqt-runtime-monitor==0.5.7
rqt-rviz==0.7.0
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.11
rqt-web==0.4.8
rviz==1.13.30
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.2
sensor-msgs==1.12.8
sentry-sdk==1.39.2
setproctitle==1.3.3
shutilwhich==1.1.0
six==1.14.0
smach==2.0.3
smach-ros==2.0.3
smclib==1.8.5
smmap==5.0.1
soupsieve==2.4.1
tempdir==0.7.1
tensorboard==1.15.0
tensorboardX==1.7
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
termcolor==2.2.0
tf==1.12.1
tf-conversions==1.12.1
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
threadpoolctl==3.1.0
tifffile==2021.11.2
tinycss2==1.2.1
topic-tools==1.14.13
torch==1.9.1+cu111
-f https://download.pytorch.org/whl/torch_stable.html
torchaudio==0.9.1
torchmetrics==0.10.3
torchsummary==1.5.1
torchvision==0.10.1+cu111
tornado==6.2
tqdm==4.64.1
traitlets==5.9.0
typing-extensions==4.5.0
urdfdom-py==0.4.6
urllib3==1.26.14
virtualenv==20.25.1
wandb==0.16.2
wcwidth==0.2.6
webencodings==0.5.1
Werkzeug==2.2.3
wrapt==1.15.0
xacro==1.13.20
yacs==0.1.6
zipp==3.15.0
